@model ZanganosSA.Models.Cosecha

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cosecha</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCosecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCosecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PesoTotalEstimado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PesoTotalEstimado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apiario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apiario.Nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
